.App {
  text-align: center;
}

.login {
  /* width: 25%; */
  height: 25%;
  display: flex;
  justify-content: flex-end;
}

.title {
  /* align-content: center; */
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


